# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languajes for Data Science.
- List commonly used libraries for Data Science.
- List Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. dplyr

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio           |
| Apache Zeppelin   |

Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author:
Ignacio Cu√±ado